{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-12">

                <h1>Hello {{ controller_name }}! ✅</h1>

                This friendly message is coming from:
                <ul>
                    <li>Your controller at <code>/Users/fredericpoesson/Public/symfony-turbo/src/Controller/HomeController.php</code>
                    </li>
                    <li>Your template at
                        <code>/Users/fredericpoesson/Public/symfony-turbo/templates/home/index.html.twig</code></li>
                </ul>
                <p>
                <turbo-frame id="the_frame_id">
                    <a href="{{ path('app.home.message') }}">This block is scoped, the rest of the page will not change if you click here!</a>
                </turbo-frame>
                </p>
                <p>
                <turbo-frame id="the_frame_id" src="{{ path('app.home.message') }}">
                    A placeholder.
                </turbo-frame>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
