{% extends 'base.html.twig' %}

{% block title %}About VitrineController{% endblock %}

{% block body %}

<div>
    <h1>page about</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda, consequuntur delectus deleniti dolore eos, error exercitationem fugiat ipsam iure, laborum libero maiores modi non omnis repudiandae ullam vero voluptatum.</p>
</div>
{% endblock %}
