{% extends 'base.html.twig' %}

{% block title %}Index VitrineController{% endblock %}

{% block body %}

<div>
    <h1>page index</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur delectus, dolores enim error explicabo hic illum impedit labore necessitatibus nemo, nostrum officia pariatur possimus quae, reiciendis rerum temporibus voluptates.</p>
</div>
{% endblock %}
