{% extends 'base.html.twig' %}

{% block title %}Hello QuotesController!{% endblock %}

{% block body %}
    <div class="container">
        <turbo-frame id="articles">
            <ul>
                <li>Article1</li>
                <li>Article2</li>
                <li>Article3</li>
            </ul>
        </turbo-frame>
    </div>
{% endblock %}